{% extends 'journal/navbar.html' %}

<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    &nbsp;
    <div class="container bg-white shadow-md p-5 form-layout">
        <h2>{{ user }}</h2>
        <p> Welcome, {{user}}! This is your dashboard. </p>
        <img style="width:90px; height:100px"src="{{profilePic.profile_pic.url}}">
    </div>
</body>
</html>
{% endblock %}